{% extends "Courses/base.html" %}

{% block title %}
{{ course.title }} - Enrolled Students
{% endblock title %}

{% block content %}
<div class="container">
    <h1 class="text-center my-5 py-3 bg-success">{{ course.title }} - Enrolled Students</h1>
    <a href="{% url 'enroll_student' %}" class='btn btn-primary mb-3 p-2 fw-bold'>Enroll Student</a>

    <table class="table table-striped">
        <thead>
            <tr class="table-dark">
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.email }}</td>
                <td>
                    <a href="{% url 'individual_std_details' student.id %}" class="btn btn-info btn-sm">
                        View Details
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center text-danger">No students enrolled in this course.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'course_list' %}" class="btn btn-primary">Back to Courses</a>
</div>
{% endblock content %}