{% extends "Courses/base.html" %}

{% block content %}
<div class="container">
  <h1>Course Title: {{ courses.title }}</h1>
{% comment %}
<img
  src="{{ courses.thumbnail.url }}"
  alt="{{ courses.title }}"
  style="max-width: 300px; height: auto"
/>
{% endcomment %}
<p><strong>Duration:</strong> {{ courses.duration }} hours</p>
<p><strong>Description:</strong> {{ courses.description }}</p>

<h2>Lessons</h2>

<table class="table table-striped">
  <tr class="table-dark">
    <th>Ttile</th>
    <th>Content</th>
  </tr>
  {% for lesson in lessons %}
  <tr>
    <td>{{ lesson.title }}</td>
    <td>{{ lesson.content }}</td>
  </tr>
  {% empty %}
  <strong style="color: red">No lessons available for this course.</strong
  ><br /><br />
  {% endfor %}
</table>

<div class="d-flex justify-content-center">
  <a href="{% url 'home' %}" class="btn btn-primary">Back to Home Page</a>
</div>
</div>
  
{% endblock content %}
  