<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Details - {{ courses.title }}</title>
</head>
<style>
    a{
        text-decoration: none;
        font-size: 32px;
        background-color: aquamarine;
        padding: 10px;
        border-radius: 10px;
        
    }
    a:hover{
        background-color: magenta;
    }
   div{
   
    text-align: center;
    margin-top: 20px;
   
   }
   table, th, td {
    border:1px solid black;
  }
  th, td{
      text-align: center;
  }
</style>
<body>
    <h1>Course Title: {{ courses.title }}</h1>
    {% comment %} <img src="{{ courses.thumbnail.url }}" alt="{{ courses.title }}" style="max-width: 300px; height: auto;"> {% endcomment %}
    <p><strong>Duration:</strong> {{ courses.duration }} hours</p>
    <p><strong>Description:</strong> {{ courses.description }}</p>

    <h2>Lessons</h2>
    <!-- <ul>
        {% for lesson in lessons %}
            <li>
                <h3>{{ lesson.title }}</h3>
                <p>{{ lesson.content }}</p>
            </li>
        {% empty %}
            <li>No lessons available for this course.</li>
        {% endfor %}
    </ul> -->

    <table style="width:100%">
        <tr>
            <th>Ttile</th>
            <th>Content</th>
        </tr>
        {% for lesson in lessons %}
        <tr>
            <td>{{ lesson.title }}</td>
            <td>{{ lesson.content }}</td>
        </tr>
        {% endfor %}
    </table>
        
    <div >
        <a href="{% url 'home' %}">Back to Home Page</a>
    </div>
</body>
</html>