{% extends "Courses/base.html" %}

{% block content %}
<div class="container">
  <h1 class="text-center my-5 py-3 bg-success">List of all Courses</h1>

  <table class="table table-striped ">
      <tr class="table-dark">
          <th>ID</th>
          <th>Course Title</th>
          <th>Description</th>
          <th>Course duration</th>
          <th>Thumbnail</th>
          <th>Course Plan</th>
      </tr>
      {% for course in courses %}
      <tr>
          <td>{{course.id}}</td>
          <td>{{course.title}}</td>
          <td>{{course.description}}</td>
          <td>{{course.duration}}</td>
          <td><img src="{{ course.thumbnail.url }}" alt="{{ course.title }}" width="100"></td>
          <td><a href="{{course.id}}">{{course.id}}/Course Details</a></td>
      </tr>
      {% endfor %}
     
    </table>
</div>

  
{% endblock content %}
  